header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    font-size: 36px;
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.photographer_section article img,
.photographer_header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer_section article h2,
.photographer_header article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article p,
.photographer_header article p {
    font-weight: 400;
    text-align: center;
}

/* COMPOSANTS */

.position {
    color: #901C1C;
    font-size: 13px;
    margin-bottom: 0;
}

.description {
    font-size: 10px;
}

.rate {
    color: #757575;
    font-size: 9px;
    margin-top: 0;
}
