.lightbox_background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
}

.lightbox_container {
  display: none;
  position: relative;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}

@media screen and (max-width: 1440px) {
  .lightbox_container {
    transform: scale(0.9);
  }
}

.slides_list {
  padding: 0 50px;
  margin: 0;
}

.svg_cross {
  position: absolute;
  right: -10px;
  top: 0px;
  width: 45px;
}

.slide {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.slide p {
  color: #901c1c;
  font-size: 24px;
  align-self: start;
}

.slideImg,
.slideVideo {
  height: 580px;
  width: 890px;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.6);
}

.svg_cross,
.prev,
.next {
  cursor: pointer;
  color: #901c1c;
  font-weight: bold;
  font-size: 48px;
  border: none;
  background: none;
}
