.contact_background {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 39, 156, 0.4);
}

.contact_container {
  border-radius: 5px;
  background-color: #db8876;
  width: 700px;
  padding: 35px;
  transform: scale(0.8);
}

@media screen and (max-width: 1440px) {
  .contact_container {
    transform: scale(0.6);
  }
}

.contact_close {
  background-color: transparent;
  border: none;
}

.contact_content i {
  cursor: pointer;
  color: white;
  font-size: 65px;
}

.contact_header {
  align-items: flex-start;
  margin-bottom: 90px;
}

.contact_header h1 {
  font-size: 64px;
  font-weight: normal;
  color: black;
  margin: 0;
}

form {
  flex-direction: column;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  font-family: "DM Sans";
  font-size: 20px;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}

textarea {
  height: 170px;
  padding-top: 15px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 20px;
  color: #ffeff0;
  display: block;
  margin-top: 10px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
  text-align: left;
  padding-top: 2px;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.submit_contact {
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  margin-top: 20px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_validation {
  display: none;
  justify-content: center;
  font-size: 30px;
  margin: 160px 20px 100px;
}

.contact_close:focus-visible,
form input:focus-visible,
textarea:focus-visible,
.submit_contact {
  outline-color: white !important;
}
