.photographer_header {
    height: 313px;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 30px;
    margin: 0 50px;
}

.photographer_header article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.header_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* THUMBNAIL */
.photographer_thumbnail {
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    font-weight: bold;
    display: flex;
}

.photographer_thumbnail div {
    display: flex;
    align-items: center;
    padding-right: 70px;
}

.photographer_thumbnail div p {
    padding-right: 5px;
}
