.photographer_portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin-top: 5%;
  justify-items: center;
}

.photographer_portfolio article {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.lightbox_link {
  display: block;
  cursor: pointer;
}

.photographer_portfolio article img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}

.video_poster {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.article_text {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #901c1c;
  margin-top: 10px;
}

.article_text p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article_like {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  padding-left: 10px;
}

.likes {
  padding-right: 10px;
}
