@import url("filter.css");
@import url("index.css");
@import url("lightbox.css");
@import url("modal.css");
@import url("photographer.css");
@import url("portfolio.css");
@import url("reset.css");

body {
  font-family: "DM Sans", sans-serif;
  margin-right: 50px;
  margin-left: 50px;
}

:focus-visible {
  outline: dashed;
  outline-color: #db8876;
  border-radius: 5px;
  outline-width: 2px;
}

.no-scroll {
  overflow: hidden;
}
